.product {
  text-align: center;
}

.product h1 {
  margin-bottom: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);

}

.product a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.product a:hover {
  color: rgba(255, 0, 0, 0.4);
}
